#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url(https://marketplace.canva.com/EAF3DZwB4GQ/1/0/1131w/canva-pink-and-cream-watercolor-background-document-%28a4%29-pbKa9sEjgiE.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

